h5py==2.10.0
joblib==1.0.1
Keras==2.2.4
Keras-Applications==1.0.8
keras-balanced-batch-generator==0.0.1
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
opencv-python==4.5.2.52
pandas==1.1.5
Pillow==8.2.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.4.1
SecretStorage==2.3.1
Shapely==1.7.1
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.3
threadpoolctl==2.1.0

